body {
  font-family: "Roboto", sans-serif;
  position: relative;
}


/*navbar*/
.navbar {
    background: rgba(0,0,0,0.6);
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #b1b4b3;
    font-size: larger;
    font-weight: bold;
    justify-content: space-between;
}

 body .navbar .navbar-custom{
    color: #b1b4b3;
    font-family: oswald, sans-serif;
    font-size: xx-large;
    font-weight: 700;
 }



div.scroll {
    /*background-color: rgba(0,0,0,0.6);*/
    color: #b1b4b3;
    overflow-x: hidden;
    overflow-y: auto;
    height: 50vh;
    width: 100%;
font-family: oswald, sans-serif;
font-weight: 600;
text-align: center;
margin-bottom: 50px
}

.scroll h3 {
font-weight: 600;
font-size: x-large;
}

/*scrollbar*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #b1b4b3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #b1b4b3;
}


/*index.html*/
.search-container {
    height: 100vh;
    background: url("../images/home-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*catergory.html*/
.catergory-container {
    position: relative;
    height: 100vh;
    background: url("../images/home-sm.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*contact.html*/
  .contact-container {
    height: 100vh;
    background: url("../images/contact-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background: rgba(0,0,0,0.6);
    color: black;
    max-width: 80%;
    padding: 10px;
    border-radius: 15px;
    display:flex;
    justify-content: space-between;
  }

  .wrapper .input {
    width: 95%;
    height: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
  }


/*headings*/
.catergory-container .jumbotron {
        background-color: transparent;
    width: 90%;
    margin-top: 15%;
}

.jumbotron {
    background-color: transparent;
    width: 90%;
    margin-top: 10%;
}

.heading{
    color: #b1b4b3;
    text-transform: uppercase;
    font-family: oswald, sans-serif;
    font-weight: 600;
}


/*text*/
.sm-text {
    color: #b1b4b3;
}


/*footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    color: #b1b4b3;
    display: flex;
    justify-content: center;
    font-size: large;
}

.footer p{
    padding-right: 10px;
}

.footer a{
    padding-right: 10px;
}

.fa-facebook-f,
.fa-twitter {
    color: rgba(255, 255, 255, 0.6);
}

/*buttons*/
.searchbtn {
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    background-color: #000000;
    border-color: black;
    color: #f8f9fa;
    font-size: larger;
}

.sortbtn {
        border-radius: 15px;
    position: relative;
    cursor: pointer;
    background-color: #deba2b;
    border-color: #deba2b;
    color: black;
    font-size: larger;
}


/*hover properties*/
.searchbtn:hover {
    background-color: #b1b4b3;
    border-color: #b1b4b3;
    color: black;
}

a .hvr-grow:hover{
    color: rgb(255, 255, 255);
}

button .addMore:hover {
    border: 2px;
    background-color: black;
    color: #deba2b;
    border-radius: 15px;
}

/*modal positioning*/
.modal-dialog {
    top: 30%;
}

/*grid*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    border-radius: 15px;
}

.card {
    background-color: rgba(0,0,0,0.6);
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: crop;
}



/*media queries*/
@media screen and (max-width:767px) {
    .cards {
    display: grid;
    grid-template-columns: 1fr;
}
}

@media screen and (min-width:768px) and (max-width:991px) {
.form_size {
    width: 50vw;
    }

}

@media screen and (min-width:929px) {
.form_size {
    width: 50vw;}
}

