body {
  font-family: "Roboto", sans-serif;
  position: relative;
}


/*--navbar styling--*/
/*navbar*/
.navbar {
  background: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: #b1b4b3;
  font-size: larger;
  font-weight: bold;
  justify-content: space-between;
}

body .navbar .navbar-custom {
  color: #b1b4b3;
  font-family: oswald, sans-serif;
  font-size: xx-large;
  font-weight: 700;
}


/*--background image--*/
/*index.html*/
.search-container {
  height: 100vh;
  background: url("../images/home-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*contact.html*/
.contact-container {
  height: 100vh;
  background: url("../images/contact-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*--search box styling--*/
/*overlay*/
.wrapper {
  background: rgba(0, 0, 0, 0.6);
  color: black;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-right: 4px;
}

.wrapper .input {
  width: 95%;
  height: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}


/*--font/ text stlying--*/
/*headings*/
.heading {
  color: #b1b4b3;
  text-transform: uppercase;
  font-family: oswald, sans-serif;
  font-weight: 600;
}

.jumbotron {
  background-color: transparent;
  width: 100%;
  margin-top: 10%;
}

/*text*/
.sm-text {
  color: #b1b4b3;
}


/*--scrollable results box*/
/*scroll attribute*/
div.scroll {
  color: #b1b4b3;
  overflow-x: hidden;
  overflow-y: auto;
  height: 50vh;
  width: 100%;
  font-family: oswald, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.scroll h3 {
  font-weight: 600;
  font-size: x-large;
}

/*grid*/
.cards {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 48px;
  border-radius: 15px;
}

.card {
  background-color: transparent;
  display: inline-grid;
  overflow: hidden;
}

.card img {
  width: 300px;
  object-fit: crop;
}

.imageBox {
    height: 350px;
}

.movieDataBox{
    background-color: black;
    width: 300px;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #b1b4b3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b1b4b3;
}


/*--footer styling--*/
/*footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  color: #b1b4b3;
  display: flex;
  justify-content: center;
  font-size: large;
}

.footer p {
  padding-right: 10px;
}

.footer a {
  padding-right: 10px;
}

/*social icons*/
.fa-facebook-f,
.fa-twitter {
  color: rgba(255, 255, 255, 0.6);
}

/*--button styling--*/
/*buttons*/
.searchbtn {
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  background-color: #000000;
  border-color: black;
  color: #f8f9fa;
  font-size: larger;
}

.sortbtn {
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  background-color: #deba2b;
  border-color: #deba2b;
  color: black;
  font-size: larger;
  height: 100%;
  width: 40px;
}

/*hover properties*/
.searchbtn:hover {
  background-color: #b1b4b3;
  border-color: #b1b4b3;
  color: black;
}

a .hvr-grow:hover {
  color: rgb(255, 255, 255);
}


/*--modal positioning--*/
.modal-dialog {
  top: 30%;
}

.form-control {
  width: 50vw;
}
/*--media queries--*/
@media screen and (max-width: 667px) {
  .form-control {
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sortbtn {
    width: 25px;
    padding-left: 1px
  }
  .card{
      display: contents;
  }
  .card img{
      width: 250px;
      margin-left: 30px
  }
  .movieDataBox{
      width: 250px;
      margin-left: 30px
  }
  .imageBox {
      height: 300px;
  }
}

@media screen and (min-width: 668px) and (max-width: 891px) {
  .form-control {
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
   .sortbtn {
    width: 25px;
    padding-left: 1px
}
}


@media screen and (min-width: 892px) and (max-width:1079px){
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
   .sortbtn {
    width: 25px;
    padding-left: 1px
}
}